@model ElTrigal.Models.Rol

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.VerRol)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}

<link rel="stylesheet" href="~/css/personas.css">

<h1>Details</h1>

<h2>@Html.DisplayFor(model=>model.Nombre)</h2>

@{
    string ConvertirPermiso(bool permiso)
    {
        return permiso ? "Con permiso" : "Sin permiso";
    }
}

<div>
    <h4>Ingreso</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Permiso de Ingresar</td>
                <td>@ConvertirPermiso(Model.VerTodo)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Usuarios</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Usuarios</td>
                <td>@ConvertirPermiso(Model.VerUsuario)</td>
            </tr>
            <tr>
                <td>Editar Usuarios</td>
                <td>@ConvertirPermiso(Model.EditUsuario)</td>
            </tr>
            <tr>
                <td>Eliminar Usuarios</td>
                <td>@ConvertirPermiso(Model.EliUsuario)</td>
            </tr>
            <tr>
                <td>Añadir nuevo Usuarios</td>
                <td>@ConvertirPermiso(Model.CrearUsuario)</td>
            </tr>
            <tr>
                <td>Editar Contraseñas</td>
                <td>@ConvertirPermiso(Model.EditPass)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Clientes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Clientes</td>
                <td>@ConvertirPermiso(Model.VerCliente)</td>
            </tr>
            <tr>
                <td>Editar Clientes</td>
                <td>@ConvertirPermiso(Model.EditCliente)</td>
            </tr>
            <tr>
                <td>Eliminar Clientes</td>
                <td>@ConvertirPermiso(Model.EliCliente)</td>
            </tr>
            <tr>
                <td>Añadir nuevo Cliente</td>
                <td>@ConvertirPermiso(Model.CrearCliente)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Proveedores</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Proveedores</td>
                <td>@ConvertirPermiso(Model.VerProveedor)</td>
            </tr>
            <tr>
                <td>Editar Proveedores</td>
                <td>@ConvertirPermiso(Model.EditProveedor)</td>
            </tr>
            <tr>
                <td>Eliminar Proveedores</td>
                <td>@ConvertirPermiso(Model.EliProveedor)</td>
            </tr>
            <tr>
                <td>Añadir nuevos Proveedores</td>
                <td>@ConvertirPermiso(Model.CrearProveedor)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Marcas</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de las Marcas</td>
                <td>@ConvertirPermiso(Model.VerMarca)</td>
            </tr>
            <tr>
                <td>Editar Marca</td>
                <td>@ConvertirPermiso(Model.EditMarca)</td>
            </tr>
            <tr>
                <td>Eliminar Marca</td>
                <td>@ConvertirPermiso(Model.EliMarca)</td>
            </tr>
            <tr>
                <td>Añadir nueva Marca</td>
                <td>@ConvertirPermiso(Model.CrearMarca)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Categorías</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de las Categorías</td>
                <td>@ConvertirPermiso(Model.VerCategoria)</td>
            </tr>
            <tr>
                <td>Editar Categoría</td>
                <td>@ConvertirPermiso(Model.EditCategoria)</td>
            </tr>
            <tr>
                <td>Eliminar Categoría</td>
                <td>@ConvertirPermiso(Model.EliCategoria)</td>
            </tr>
            <tr>
                <td>Añadir nueva Categoría</td>
                <td>@ConvertirPermiso(Model.CrearCategoria)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Productos</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Productos</td>
                <td>@ConvertirPermiso(Model.VerProductos)</td>
            </tr>
            <tr>
                <td>Editar Productos</td>
                <td>@ConvertirPermiso(Model.EditProductos)</td>
            </tr>
            <tr>
                <td>Eliminar Productos</td>
                <td>@ConvertirPermiso(Model.EliProductos)</td>
            </tr>
            <tr>
                <td>Añadir nuevos Productos</td>
                <td>@ConvertirPermiso(Model.CrearProductos)</td>
            </tr>
            <tr>
                <td>Hacer Pedido</td>
                <td>@ConvertirPermiso(Model.Pedido)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Cotizaciones</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de las Cotizaciones</td>
                <td>@ConvertirPermiso(Model.VerCotizaciones)</td>
            </tr>
            <tr>
                <td>Editar Cotizaciones</td>
                <td>@ConvertirPermiso(Model.EditCotizaciones)</td>
            </tr>
            <tr>
                <td>Eliminar Cotizaciones</td>
                <td>@ConvertirPermiso(Model.EliCotizaciones)</td>
            </tr>
            <tr>
                <td>Añadir Cotizaciones</td>
                <td>@ConvertirPermiso(Model.CrearCotizaciones)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Ventas</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de las Ventas</td>
                <td>@ConvertirPermiso(Model.VerVentas)</td>
            </tr>
            <tr>
                <td>Editar Ventas</td>
                <td>@ConvertirPermiso(Model.EditVentas)</td>
            </tr>
            <tr>
                <td>Eliminar Ventas</td>
                <td>@ConvertirPermiso(Model.EliVentas)</td>
            </tr>
            <tr>
                <td>Añadir nuevas Ventas</td>
                <td>@ConvertirPermiso(Model.CrearVentas)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Rol</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Roles</td>
                <td>@ConvertirPermiso(Model.VerRol)</td>
            </tr>
            <tr>
                <td>Editar Roles</td>
                <td>@ConvertirPermiso(Model.EditRol)</td>
            </tr>
            <tr>
                <td>Eliminar Roles</td>
                <td>@ConvertirPermiso(Model.EliRol)</td>
            </tr>
            <tr>
                <td>Añadir nuevos Roles</td>
                <td>@ConvertirPermiso(Model.CrearRol)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <h4>Análisis</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Permiso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ver detalles de los Análisis</td>
                <td>@ConvertirPermiso(Model.VerAnalisis)</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditRol)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="edit">Editar</a>
    }
    <a asp-action="Index" class="ver">Regresar al Listado</a>
</div>
