@model IEnumerable<ElTrigal.Models.Proveedor>

@{
    ViewData["Title"] = "Proveedor";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.VerProveedor)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}
<link rel="stylesheet" href="~/css/productos.css" />

<h1>Proveedor</h1>

<hr />
<p>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.CrearProveedor)
    {
        <a asp-action="Create" class="crear">Añadir Proveedor</a>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditProveedor)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.VerProveedor)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EliProveedor)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="borrar">Borrar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
