@model ElTrigal.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.EliProductos)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}
<link rel="stylesheet" href="~/css/personas.css">

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ventas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ventas)
        </dd>
    </dl>
</div>

<div>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditProductos)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="edit">Editar</a>
    }
    <a asp-action="Index" class="ver">Regresar al Listado</a>
</div>
