@model IEnumerable<ElTrigal.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.VerProductos)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}
<link rel="stylesheet" href="~/css/productos.css" />

<h1>Productos</h1>

<hr />
<p>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.CrearProductos)
    {
        <a asp-action="Create" class="crear">Añadir Produto</a>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio) @Html.DisplayFor(modelItem => item.Ventas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditProductos)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.VerProductos)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EliProductos)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="borrar">Borrar</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.Pedido)
                    {
                        <a asp-action="Entrada" asp-route-id="@item.Id" class="entrada">Entrada</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
