@model IEnumerable<ElTrigal.Models.Cotizacion>

@{
    Layout = null;
    ViewData["Title"] = "Cotizaciones";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/cotizacion.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>Cotizaciones</h1>

    <p><a asp-action="Create" class="btn-primary">Nueva Cotización</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="HomeUser" asp-action="Index">Volver</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
