@model IEnumerable<ElTrigal.Models.Cotizacion>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.VerCotizaciones)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}
<link rel="stylesheet" href="~/css/cotizacion.css">

<h1>Cotizaciones</h1>

<hr />
<p>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.CrearCotizaciones)
    {
        <a asp-action="Create" class="crear">Añadir Cotización</a>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</p>

<form method="get" action="@Url.Action("Index", "Cotizacions")" class="form-inline">
    <table style="align-items:center;">
        <thead>
            <tr>
                <th>Código de Factura</th>
                <th>Creada después del</th>
                <th>Creada antes del</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="codigoFactura" name="codigoFactura" value="@ViewData["CodigoFactura"]" class="form-control" /></td>
                <td>
                    <input type="date" id="fechaDespuesDe" name="fechaDespuesDe" value="@ViewData["FechaDespuesDe"]" class="form-control" />
                </td>
                <td>
                    <input type="date" id="fechaAntesDe" name="fechaAntesDe" value="@ViewData["FechaAntesDe"]" class="form-control" />
                </td>
            </tr>
        </tbody>
        <tfoot>
        <td colspan="3"><button type="submit" class="btn btn-primary">Buscar</button></td>
        </tfoot>
    </table>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoFactura)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditCotizaciones)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.VerCotizaciones)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EliCotizaciones)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="borrar">Borrar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
