@model ElTrigal.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
@if (RoleContext.CurrentRole != null && !RoleContext.CurrentRole.VerUsuario)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}

<link rel="stylesheet" href="~/css/personas.css">

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.Nombre)
        </dd>
    </dl>
</div>

<div>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditUsuario)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="edit">Editar</a>
    }
    <a asp-action="Index" class="ver">Regresar al Listado</a>
</div>
