@model IEnumerable<ElTrigal.Models.Marca>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/css/productos.css">

<h1>Marcas</h1>

<p><a asp-action="Create" class="crear">Añadir Cliente</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="borrar">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
