@model List<ElTrigal.Models.Detalle>

@{
    Layout = null;
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/cotizacion.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>Detalle de @ViewData["cotizacionId"]</h1>

    <p>
        <a asp-action="Create" asp-route-cotizacionId="@ViewData["cotizacionId"]">Añadir Producto</a>
        <a asp-controller ="Cotizacion" asp-action="Edit" asp-route-id="@ViewData["cotizacionId"]">Volver a la Cotizacón</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Cantidad
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => detalle.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => detalle.Cantidad)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@detalle.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@detalle.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@detalle.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
