@model IEnumerable<ElTrigal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link rel="stylesheet" href="~/css/personas.css">


<h1>Clientes</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary editar">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info ver">Ver</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger eliminar">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
