@model IEnumerable<ElTrigal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
@if (RoleContext.CurrentRole == null || !RoleContext.CurrentRole.VerCliente)
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}

<link rel="stylesheet" href="~/css/personas.css">


<h1>Clientes</h1>

<hr />
<p>
    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.CrearCliente)
    {
        <a asp-action="Create" class="crear">Añadir Cliente</a>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EditCategoria)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="editar">Editar</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.VerCategoria)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="ver">Ver</a>
                    }
                    @if (RoleContext.CurrentRole != null && RoleContext.CurrentRole.EliCategoria)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="borrar">Borrar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
